---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base.astro";

const allNotes = await getCollection("note");

const tagCount = new Map<string, number>();
for (const note of allNotes) {
	for (const tag of note.data.tags ?? []) {
		tagCount.set(tag, (tagCount.get(tag) ?? 0) + 1);
	}
}

const allTags = [...tagCount.entries()].sort((a, b) => b[1] - a[1]);

const meta = {
	description: "Tags das notas",
	title: "Tags — Notas",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Tags — Notas</h1>
	<ul class="space-y-4">
		{
			allTags.map(([tag, count]) => (
				<li class="flex items-center gap-x-2">
					<a
						class="cactus-link inline-block"
						href={`/notes/tags/${tag}/`}
						title={`Ver notas com a tag: ${tag}`}
					>
						&#35;{tag}
					</a>
					<span class="inline-block">
						- {count} nota{count > 1 && "s"}
					</span>
				</li>
			))
		}
	</ul>
</PageLayout>
