---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import FormattedDate from "@/components/FormattedDate.astro";

interface Props {
	post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const { data } = post;
const MAX_TAGS = 3;
---

<li class:list={["silva-card", { "silva-card--pinned": data.pinned, "silva-card--has-cover": !!data.coverImage }]}>
	<a href={`/posts/${post.id}/`}>
		{data.coverImage && (
			<div class="silva-card-cover">
				<Image src={data.coverImage.src} alt={data.coverImage.alt} width={400} height={200} />
			</div>
		)}
		<div class="silva-card-body">
			{data.draft && <span class="text-red-500 text-xs">(Draft)</span>}
			<h2 class="silva-card-title">{data.title}</h2>
			{data.description && <p class="silva-card-summary">{data.description}</p>}
		</div>
		<div class="silva-card-meta">
			{data.tags.length > 0 && (
				<ul class="silva-card-tags">
					{data.tags.slice(0, MAX_TAGS).map((tag) => (
						<li>#{tag}</li>
					))}
				</ul>
			)}
			<FormattedDate date={data.publishDate} />
		</div>
		{data.pinned && <span class="silva-card-pin">★</span>}
	</a>
</li>
